$eva-mapping: (
  menu-background-color: transparent,
  menu-text-color: text-basic-color,
  menu-text-font-family: text-subtitle-2-font-family,
  menu-text-font-size: text-subtitle-2-font-size,
  menu-text-font-weight: text-subtitle-2-font-weight,
  menu-text-line-height: text-subtitle-2-line-height,
  menu-group-text-color: text-hint-color,
  menu-item-border-radius: 0,
  menu-item-padding: 0.75rem 1rem,
  menu-item-hover-background-color: menu-background-color,
  menu-item-hover-cursor: pointer,
  menu-item-hover-text-color: text-primary-hover-color,
  menu-item-icon-hover-color: menu-item-hover-text-color,
  menu-item-active-background-color: menu-background-color,
  menu-item-active-text-color: text-primary-color,
  menu-item-icon-active-color: menu-item-active-text-color,
  menu-item-icon-color: text-hint-color,
  menu-item-icon-margin: 0 0.5rem 0 0,
  menu-item-icon-width: 1.25rem,
  menu-item-divider-color: divider-color,
  menu-item-divider-style: divider-style,
  menu-item-divider-width: divider-width,
);
