<mat-sidenav-container class="layout-container" autosize autoFocus>
  <mat-sidenav
    #sidenav
    class="layout-sidenav"
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <nav class="layout-sidebar-main scrollbar-none">
      <cream-sidebar-menu *ngIf="menus" [items]="menus"></cream-sidebar-menu>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
    </p>
    <p>
      <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    </p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{ e }}</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
